<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94049016903-do2m2v2g9nluru5tttfmk07i6h2v6dev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94049016903-do2m2v2g9nluru5tttfmk07i6h2v6dev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>94049016903-ue2ri35ollpqr3r1180l9i2cojq2mi6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuSMUog0oX-RTkDT4Ms3TEN6mLgz8rqRE</string>
	<key>GCM_SENDER_ID</key>
	<string>94049016903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.areadevepitech</string>
	<key>PROJECT_ID</key>
	<string>areaapp-48a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>areaapp-48a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94049016903:ios:16cfb46330221d4f92a562</string>
</dict>
</plist>